
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-swimming:before { content: '\e838'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */